{% extends "myapp/base.html" %}
{% block extra_style %}
    <link rel="stylesheet" href="../../static/myapp/css/profile.css">
{% endblock %}
    {% block header-title %}
    <p>{{ someone }}'s profile </p>
    {% endblock %}
<body class="profile_body">
    {% block content %}
    <div class="profile_content">
        <img width="30" height="30" alt="" src="{{ someone.signup.img.url }}" class="profile_img">
        <p class="profile_profile"><label>profile:</label><br> {{ someone.signup.profile|linebreaksbr }}</p>
        <p class="profile_status"><label>status message:</label><br> {{ someone.signup.status_message |linebreaksbr }}</p>
    </div>
    {% endblock %}
</body>      

<!--username, icon, status-message, profile-->